# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
myvenv/
env/


# ======================
# Testing / Coverage
# ======================
.pytest_cache/

# ======================
# OS / Editor
# ======================

.vscode/

# ======================
# Secrets
# ======================
.env
.env.*